.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  text-align: center;
  height: 75rem;
  width: 100%;
  font-size: 7rem;
  background-color: black;
}

.page1content {
  width: 50%;
}

#title{
  background-color: red;
}
